 .Header{
   height: 10vh;
    padding-top: 15px;
    text-align: center;
    font-weight: bold;
    background: olive;
    font-size: 50px;
 }

 .time {
   border:  solid 1px black;
   height: 40vh;
   width: 40vw;
   margin: 200px auto;
   background: #000;
 }
 p{
   margin-top: 70px;
   text-align: center;
   color: white;
   font-size: 40px;
 }